*{
    margin: 0;
    padding: 0;
}
body{
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: url('/bgimg.jpg');
}
header{
    height: 50px;
    width: 540px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
h1{
    margin: 10px;
    height: 50px;
    font-size: 30px;
}
h2{
    font-size: 20px;
}
footer{
    background-color: transparent;
    /* background-color: rgb(110, 110, 245); */
    color: white;
    width: 540px;
    text-align: center;
}
footer a{
    background-color: transparent;
    /* background-color: rgb(110, 110, 245); */
    color: white;
    text-decoration: none;
}
.container{
    background-color: transparent;
    /* background-color: rgb(110, 110, 245); */
    color: white;
    width: 500px;
    text-align: center;
    padding: 20px;
}
.container p a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.container p{
    text-transform: capitalize;
    margin: 22px
}
.uname input{
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    border: 4px solid #01ff11;
}
.uemail input{
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    border: 4px solid rgb(0, 119, 255);
}
.upwd input{
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    border: 4px solid red;
}
.btn{
    background-color: blue;
    border: 2px solid red;
    border-radius: 25px;
    height: 30px;
}
.btn a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 30px;
    padding: 20px;
}
.btn2{
    background-color: blue;
    border: 2px solid red;
    border-radius: 25px;
    height: 30px;
}
.btn2 a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 30px;
    padding: 20px;
}
.container input{
    margin: 5px;
}