*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    color: white;
    background-image: url("bgimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color:transparent;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name input{
    height: 30px;
    width: 200px;
    border-radius: 30px;
    border: 4px solid black;
    margin: 10px;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email input{
    height: 30px;
    width: 200px;
    border-radius: 30px;
    border: 4px solid black;
    margin: 10px;
}
.pwd{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pwd input{
    height: 30px;
    width: 200px;
    border-radius: 30px;
    border: 4px solid black;
    margin: 10px;
}
.confirmpwd{
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmpwd input{
    height: 30px;
    width: 200px;
    border-radius: 30px;
    border: 4px solid black;
    margin: 10px;
}
.myButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    border-radius: 20px;
    height: 30px;
    width: 150px;
    background-color: red;
    border: 3px solid blue;
}
.btn1 a{
    color: white;
    text-decoration: none;
    text-transform:capitalize;
}